<div ng-controller="ProductsController"> <div ng-include src="'templates/Products.html'" ng-if="SearchText" ></div> </div>

<!-- Reset Password Code Begins -->
<div>
		
		
	<h4>RESET PASSWORD</h4>
	<h5>Enter your E-Mail address/Mobile, We will send you a new password.</h5>
	<hr>
	<div class="Name">
		<input ng-model="Password" type="text" placeholder="Your E-mail/Mobile" class="form-control"/><br>
	</div>
	<div class="Name">
		<button id="reset_password" type="button" onclick="" class="btn btn-lg btn-primary btn-block" ng-disabled="!Password">SEND ME NEW PASSWORD</button>
	</div>
	<div class="response left" id="reset_password_status"></div><!-- Displays Response --><br>
	
</div>
<!-- Reset Password Code Ends -->
